<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">

<menu id="root-menu" label="Openbox 3" execute="/home/noid/.config/openbox/pipemenu.py">
</menu>
<menu id="volume-inc-menu" label="Volume Up" execute="/home/noid/.config/openbox/pipemenu.py volume_inc">
</menu>
<menu id="volume-dec-menu" label="Volume Up" execute="/home/noid/.config/openbox/pipemenu.py volume_dec">
</menu>
<menu id="volume-tog-menu" label="Volume Up" execute="/home/noid/.config/openbox/pipemenu.py volume_tog">
</menu>

</openbox_menu>
